<!doctype html>
<html lang="en">

<head>
    <title>Brothers Team</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Css -->
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-------------- NAVBAR SECTION --------------->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>


                </ul>
            </div>
        </nav>
    </section>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>1) Netflix Premium Apk :-

                </h4>
                <a href="https://earnload.co/Netflixnew" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>
                <p> 🚫🚫 <strong style="color: red;">Important Note </strong> 🚫🚫 :- jin freiends ke mobiel mein
                    Netflix work
                    nahi kar hai bo freind play store super vpn download
                    kare usme <strong>US (United State)</strong> select kare fir netflix ko chalaye 100% work karega
                </p>

                <ul>
                    <li>
                        <h5>Super Vpn :- <a href="https://play.google.com/store/apps/details?id=com.jrzheng.supervpnfree
                                " class="btn btn-primary ml-4">
                                <i class=""></i> Download
                            </a></h5>
                    </li>
                </ul>




            </div>

        </div>
    </div>




    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>2) Zee 5 Premium Account Id & Password :-

                </h4>
                <a href="https://earnload.co/Netflixnew" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>
                <p> 🚫🚫 <strong style="color: red;">Important Note </strong> 🚫🚫 :- Aap Download button per click
                    karke Zee5 ke
                    id & password prapt kijiye or chrome browser per jakar Zee 5 search karke login ke option per
                    jaiye baha per id and password daliye or login karke chaliye
                </p>

            </div>

        </div>
    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>3) Sony Liv Premium Apk :-

                </h4>
                <a href="https://earnload.co/sonyliv" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>4) Spotify Premium Apk :-

                </h4>
                <a href="https://gplinks.co/Spotifyapknew
                " class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>5) jio Saavan Premium Apk :-

                </h4>
                <a href=" https://earnload.co/Jiosaavan" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>6) Oreo TV Premium :-

                </h4>
                <a href=" https://gplinks.co/Oreotv
                " class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>7) Redflix TV Premium Apk :-

                </h4>
                <a href=" https://earnload.co/Redfixtv" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>8) Duo Screen Recorder Premium Apk :-

                </h4>
                <a href="https://gplinks.co/Duscreen
                " class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>9) Kine Master Premium Apk :-

                </h4>
                <a href=" https://gplinks.co/Kinemasterapk
                " class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>10) Power Director Premium Apk :-

                </h4>
                <a href=" https://gplinks.co/Powerdirectorapk
                " class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>11) Cinema Tv Premium Apk :-

                </h4>
                <a href="http://bit.ly/Cinematv" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>12) MX Player Pro Premium Apk :-

                </h4>
                <a href="https://gplinks.co/mxplayerp" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>13) Voot Premium Apk :-

                </h4>
                <a href="https://earnload.co/voot" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

                <p> 🚫🚫 <strong style="color: red;">Important Note </strong> 🚫🚫 :- Is Apk ko download karke aapko
                    koise bhi fake gmail se signup karna h phir aap premium account ko chala sakte ho
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>14) Hangama Music Premium Apk :-

                </h4>
                <a href="https://earnload.co/Hungamanew" class="btn btn-primary mt-2 mb-4">
                    <i class=""></i> Download
                </a>

            </div>

        </div>
    </div>




































    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>